@import "~slick-carousel/slick/slick.css"; 
@import "~slick-carousel/slick/slick-theme.css";
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.slider_scale{
  max-width: 1440px;
  margin: auto;
  padding: 20px 40px;
  overflow: hidden;
  user-select: none;
  min-height: 450px;
  position: relative;

}
.rasm_slider{
  width: 250px;
  height: 280px;
  padding: 5px;
  transition: 0.5s;
  margin-top: 50px;
  position: relative;
}
.slide_active{
  width: 300px;
  height: 400px;
  margin-top: 0px;
}
.rasm_slider img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.slick-dots{
  position: absolute;
  top: 360px;
  left: 200px;
}
.slick-dots li button:before  {
  font-size: 12px; 
}
.slick-dots li.slick-active button:before{
  color: #facb21;
  font-size: 20px;
}
.btn_arrow{
  position: absolute;
  top: 350px;
  z-index: 5;
  border: 1px solid #facb21;
  color:  #facb21;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  font-size: 25px;
  border-radius: 50%;
  cursor: pointer;
  font-weight: bold;
}
.btn_arrow:hover{
  background-color: #facb21;
  color: white;
}
.btn_Left{
  left: 50%;
}
.btn_Right{
  left: 46%;
}